body {
    background-color: grey;
}

.container {
    display: inline-block;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container > .hotplates {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: #fff;
    padding: 10px;
}

.container > .hotplates > .num {
    display: inline-block;
    position: relative;
    width: 130px;
    height: 120px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    font-size: 60px;
    margin: 5px;
}

.container > .hotplates > .num::before {
    content: attr(data-holes);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container > .btn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    background-color: lightgrey;
    padding: 10px;
}

.container > .btn > .onOff {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #fff;
    margin: 5px;
    font-size: 20px;
    border-radius: 15px;
}

.container > .btn > .onOff::before {
    content: attr(data-btn);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container > .hotplates > .num.red {
    background-color: red;
}